<!DOCTYPE html>
<html>
  <head>
    <title>RSS Filter</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />

    <% if (htmlWebpackPlugin.options.production) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72102716-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-72102716-4');
    </script>
    <% } %>
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>
